* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.bg-cadastro {
    position: absolute;
    background-image: url(https://img.freepik.com/fotos-gratis/close-up-jovem-a-procura-de-vinis-na-loja_23-2148237245.jpg?t=st=1723678633~exp=1723682233~hmac=57c277f1a4cb341b4a74be71ce077ca56004edfb434fb21f4f728a1e65deeeeb&w=900);
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: blur(4px);
    z-index: 1
}

.container, form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3
}

form {
    padding: 2% 6% 10% 6%;
    background-color: rgba(255, 255, 255, 0.5);
    line-height: 40px;
}

input {
    width: 70%;
    height: 30px;
    border-radius: 8px;
    margin-top: 10px;
    border: 1px solid rgb(119, 4, 4);
    outline: transparent;
}

.btn {
    margin: 10px 0;
    width: 50%;
    height: 30px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(119, 4, 4);
    border-radius: 8px;
    transition: .5s ease;
}

.btn:hover {
    background-color: rgba(109, 109, 109, 0.491);
}